html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-image: url("https://www.fg-a.com/wallpapers/2017-4-light-background-geo.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.link-style:hover {
  cursor: pointer;
}

.dropdown-content li > span {
  font-size: 28px;
  color : black;
}

.select-wrapper input.select-dropdown {
  font-size: 32px;
  color : #607d8b
}

.sidenav .user-view>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-floating.gray {
  background-color: #333 !important;
} 

.card-action {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.card-action > a {
  margin-right : 0 !important;
}

.sidenav .user-view .background > img {
  height : 100%;
}

/* .user-view >  */